// Usamos a sheet Pico.css como base, é bem show de bola
@import "pico/pico";
// Aqui temos o nosso tema, que define cores, formatos, etc
@import "theme/projetobd";

// Essa sheet contém personalizações de apresentação e estilização de alguns elementos especializados

// Desabilitar o link quando ele tem aria-current=page (ou seja, marcado como a página atual)
[aria-current=page] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: unset;
}

// Acertar cor de seleção
::selection {
  background: var(--primary-hover);
}

// Barra de navegação
body>nav {
  // Adicionar sombra e background bonitinho
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-sectionning-background-color);
}

// Footer da página
body>footer {
  // Adicionar um borda bonitinha
  border-top: 1px solid var(--primary);
  padding-top: 2rem;
  // Diminuir o tamanho da fonte
  p {
    font-size: 80%;
  }
}

article {
  // Versão menorzinha
  &.slim {
    margin: auto;
    @media (min-width: 30em) {
      max-width: 30em;
    }
  }
  & > header {
    margin-bottom: calc(var(--block-spacing-vertical) / 5);
  }
  // Adicionar mais margem
  margin-top: var(--typography-spacing-vertical);
  margin-bottom: var(--typography-spacing-vertical);
}

button {
  // Botão, porém inline
  &.small {
    width: auto;
    display: inline;
    margin-bottom: auto;
  }
}

// Círculo bonitinho em volta das métricas
.metric {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 40em;
  border-style: solid;
}

// Coisinha de mensagem/aviso/erro (vulgo flash)
#flash {
  text-align: center;
  padding-bottom: 3rem;
  sup {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-weight: bold;
    border-radius: 0.2rem;
    margin: 0.2rem;
    padding: 0.4rem 0.5rem;
  }
  &.success sup {
    background-color: var(--ins-color);
  }
  &.error sup {
    background-color: var(--del-color);
  }
  &.warning sup {
    background-color: var(--warn-color);
  }
}

// Botão flutuante para voltar ao topo
#back-to-top {
  position: fixed;
  right: calc(2*var(--spacing) + var(--scrollbar-width,0px));
  bottom: calc(2*var(--spacing));
  width: auto;
  margin-bottom: 0;
  padding: 0.75rem;
  border-radius: 2rem;
  box-shadow: var(--card-box-shadow);
  line-height: 1;
  text-align: right;
}
